<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <beans profile="dev">
            <bean class="org.lzssl.moreEnvironment.DateSource" id="devDs">
                <property name="username" value="root"/>
                <property name="password" value="123"/>
                <property name="url" value="jdbc:mysql:///vhr"/>
             </bean>
        </beans>
        <beans profile="prod">
            <bean class="org.lzssl.moreEnvironment.DateSource" id="prodDs" scope="prototype">
                <property name="username" value="root"/>
                <property name="password" value="dsaxds"/>
                <property name="url" value="jdbc:mysql://127.168.72.36/vhr"/>
            </bean>
        </beans>
        <beans >
            <bean class="org.lzssl.moreEnvironment.DateSource" id="testDs">
                <property name="username" value="root"/>
                <property name="password" value="dsaxds"/>
                <property name="url" value="jdbc:mysql://127.168.72.36/vhr"/>
            </bean>
        </beans>
</beans>